# Core / Web
Django==6.0.4
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
asgiref==3.11.1
sqlparse==0.5.5

# AI / Whisper (CPU)
openai-whisper
torch==2.11.0
numpy<2.2

# Audio / Video
yt-dlp==2026.3.17

# Google APIs
google-generativeai
google-api-python-client
google-auth
google-auth-httplib2
google-ai-generativelanguage

# Utils
python-dotenv
requests
tqdm
tenacity
tiktoken
regex
filelock
packaging
typing_extensions
protobuf

# System / networking
httpx
httpcore
anyio
sniffio
urllib3
certifi